#version=RHEL8
ignoredisk --only-use=vda
# Partition clearing information
clearpart --all --initlabel --drives=vda
# Use graphical install
text
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=enp1s0 --gateway=192.168.7.1 --ip=192.168.7.77 --nameserver=208.67.222.222,208.67.220.220 --netmask=255.255.255.0 --ipv6=auto --activate
network  --hostname=helper
# Root password
rootpw --plaintext changeme
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone Europe/Paris --isUtc
clearpart --drives vda --initlabel
# Disk partitioning information
part / --fstype="xfs" --ondisk=vda --size=29695
part /boot --fstype="xfs" --ondisk=vda --size=1024
reboot

%packages
@^minimal-environment
@guest-agents
kexec-tools
ansible
git

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
